
Questions to answer:

What impact did the campaign have on loyalty program memberships (gross / net)?
Qual o impacto da campanha nas adesões ao programa de fidelidade (brutas/líquidas)?

Was the campaign adoption more successful for certain demographics of loyalty members?
A adoção da campanha foi mais bem-sucedida para certos grupos demográficos de membros fidelizados?

What impact did the campaign have on booked flights during summer 2018?
Que impacto teve a campanha nos voos reservados durante o verão de 2018?

Can I build a machine learning model to predict Churn risk?
Posso criar um modelo de aprendizado de máquina para prever o risco de Churn?

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder
#from imblearn.over_sampling import SMOTE 
import matplotlib.pyplot as plt
import seaborn as sns

file_path1 = 'Customer Flight Activity.csv'
file_path2 = 'Customer Loyalty History.csv'

data_member = pd.read_csv (file_path2)
data_flight = pd.read_csv (file_path1)

In [12]:
data_member.shape

(16737, 16)

In [13]:
data_flight.shape

(405624, 10)

What impact did the campaign have on loyalty program memberships (gross / net)?
Qual o impacto da campanha nas adesões ao programa de fidelidade (brutas/líquidas)?

In [14]:
data_member.head()

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,NaN,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN
2,429460,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,NaN,Single,Star,3839.75,Standard,2014,7,2018.0,1.0
3,608370,Canada,Ontario,Toronto,P1W 1K4,Male,College,NaN,Single,Star,3839.75,Standard,2013,2,NaN,NaN
4,530508,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,103495.0,Married,Star,3842.79,Standard,2014,10,NaN,NaN

In [15]:
data_flight.head()

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0

In [16]:
# What kind of data am I working with?
# Com que tipo de dados estou trabalhando?

unique_values_column1 = data_member['Enrollment Type'].unique()
unique_values_column2 = data_member['Enrollment Year'].unique()

print(unique_values_column1)
print(unique_values_column2)

['Standard' '2018 Promotion']
[2016 2014 2013 2012 2015 2018 2017]

In [17]:
# Removing duplicates (if any)
data_member.drop_duplicates(inplace=True)

# reset index
data_member.reset_index(drop=True, inplace=True)

nan_values_in_columns = data_member.isnull().any()
if nan_values_in_columns.any():
    columns_with_nan = nan_values_in_columns[nan_values_in_columns].index.tolist()
    print(f"Columns with NaN values: {columns_with_nan}")
else:
    print("No NaN values found in any column.")

Columns with NaN values: ['Salary', 'Cancellation Year', 'Cancellation Month']